body{
    background-color: rgb(225, 176, 85);
}
.cosasbotonsito{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}
.contenido{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}
.error{
    background-color: red;
    color: white;
    font-size: xx-large;
}
.correcto{
    background-color: green;
    color: white;
    font-size: xx-large;
}
.tablero{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    border-radius: 2em;
    gap: 10px;
    height: 480px;
    width: 480px;
    padding-top: 35px;
}
.casilla{
    border: 1px solid black;
    height: 120px;
    width: 120px;
    font-size: 120px;
    text-align: center;
}
.verdesito{
    color:green;
}
.rojito{
    color:brown;
}